<mat-expansion-panel >
    <mat-expansion-panel-header>
        <h5 class="purchase">Descriptions</h5> 
        <h5 class="purchase">Статус закупки:PurchaseStatus</h5>   
    </mat-expansion-panel-header>
    
    <ng-template matExpansionPanelContent>
        <p class="purchase">дата создания:dateOfPurchase</p>
        <p class="purchase">тип закупки - procedure</p>
        <br>
            <h4>лоты:</h4>
            <ul>
            <li>           
                <h5>name</h5>
                <h5>okrb</h5>
                <h5>deadline</h5>
                    <h5>153.215</h5>
            </li>
      </ul>
    </ng-template>
 