<div>
  <div>Создать закупку</div>
  <div class="create-form">
    <div class="form-row">
    <div class="form-group col-md-8">
      <label for="purchaseDescription">Описание Государственной закупки</label>
      <input type="text" class="form-control" id="purchaseDescription" >
      <small  class="form-text text-muted">описание должно кратко описывать госзакупку</small>
    </div>
    <div class="form-group col-md-4">
      <label for="purchaseOperation">Операция госзакупки</label>
      <input type="text" class="form-control" id="purchaseOperation"  list="purchaseOp">
      <datalist id="purchaseOp">
        <option value="Аукцион">
        <option value="Целевая">
      </datalist>
      <small  class="form-text text-muted">выберите операцию из списка или введите название операции</small>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="purchaseDateCreate">Дата оформления госзакупки</label>
        <input type="date" class="form-control" id="purchaseDateCreate" >
        <small  class="form-text text-muted">Дата оформления госзакупок на торговых площадках</small>
      </div>
    </div>
  </div>


</div>

