<div>
  <div class="form-group col-md-4">
    <a class="btn btn-primary btn-sl active " role="button" (click)="savePurchase()" aria-pressed="true">Сохранить</a>
  </div>
  <div class="purchase-info-form">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="purchaseDescription">Описание Государственной закупки</label>
        <input type="text" class="form-control" id="purchaseDescription"
               required
               [(ngModel)]="purchase.description" >
        <small class="form-text text-muted">описание должно кратко описывать госзакупку</small>
      </div>
      <div class="form-group col-md-4">
        <label for="purchaseOperation">Операция госзакупки</label>
        <input type="text" class="form-control" id="purchaseOperation" list="purchaseOp"
               required
               [(ngModel)]="purchase.purchaseInfo.procedureName" >
        <datalist id="purchaseOp">
          <option value="Аукцион">
          <option value="Целевая">
        </datalist>
        <small class="form-text text-muted">выберите операцию из списка или введите название операции</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="purchaseDateCreate">Дата оформления госзакупки</label>
        <input type="date" class="form-control" id="purchaseDateCreate"
               required
               [(ngModel)]="purchase.purchaseInfo.dateOfPurchase" >
        <small class="form-text text-muted">Дата оформления госзакупок на торговых площадках</small>
      </div>
    </div>
  </div>

      <div class="form-group col-md-4">
        <a class="btn btn-primary btn-sl active " role="button" (click)="createPurchaseLot()" aria-pressed="true">Добавить лот</a>
      </div>
      <div>
        <a class="btn btn-primary btn-sl active " role="button" (click)="savePurchaseLot()" aria-pressed="true">Сохранить лоты</a>
      </div>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Код по ОКРБ</th>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Стоимость</th>
      <th>Дата окончания лота</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngIf="purchaseLots.length == 0">
      <td colspan="5" class="text-center">
        <div>
          <p>Не добавлено ни одного лота к закупке</p>
          <a class="btn btn-primary btn-sl active " role="button" (click)="createPurchaseLot()" aria-pressed="true">Добавить лот</a>
        </div>
      </td>
    </tr>

    <tr *ngFor="let purchaseLot of purchaseLots; let i = index">
      <td>{{getOKRB(purchaseLot.okrb)}}</td>
      <td>{{purchaseLot.okrb.name}}</td>
      <td>{{purchaseLot.name}}</td>
      <td>{{purchaseLot.amount}}</td>
      <td>{{purchaseLot.deadline}}</td>

    </tr>
    </tbody>
  </table>

</div>

