/* You can add global styles to this file, and also import other style files */

body{
  background-color: #f3f3f3;
}

.govGreen{
  color: #00ff00;
}

.shopBlue{
  color: #1047cb;
}

.govRed{
  color: #ff0000;
}
