<h1 mat-dialog-title>Создание лота для закупки</h1>
<div mat-dialog-content>
  <p class="form-field-lot">
    <mat-form-field appearance="fill">
      <mat-label>Описание лота</mat-label>
      <textarea matInput [(ngModel)]="data.name"></textarea>
      <mat-hint>Содержит краткую информация о лоте</mat-hint>
    </mat-form-field>
  </p>
  <p class="form-field-lot">
  <mat-form-field  appearance="outline">
    <mat-label>Введите сумму товара</mat-label>
    <input type="number" matInput placeholder="Сумма" [(ngModel)]="data.amount">
    <mat-hint>Сумма в белорусских рублях</mat-hint>
  </mat-form-field>
  </p>
  <p class="form-field-lot">
    <mat-form-field   appearance="outline">
    <mat-label>Дата окончания закупки лота</mat-label>
    <input type="date" matInput  [(ngModel)]="data.deadline">
    <mat-hint>Сумма в белорусских рублях</mat-hint>
  </mat-form-field>
  </p>

</div>
<app-okrb-table></app-okrb-table>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.amount" cdkFocusInitial>Ok</button>
</div>
