<section class="header-container navbar-dark bg-dark">
  <div class="row">
    <div class="col-md-6 header-title-container ">
      <a href="user/"><h3><span class="govGreen">Гос</span><span class="govRed">Закупки</span></h3></a>
    </div>
    <div class="col-md-6 header-navigation-container">
      <ul>
        <li><a href="user/purchases/create">Создать закупку</a></li>
        <li><a href="user/purchases" >Список закупок</a></li>
        <li><a (click)="logout()">Выйти из Системы</a></li>
      </ul>
    </div>
  </div>
</section>
