<div>
  <div class="example-container mat-elevation-z8">
    <div *ngIf="isLoadingResults || isRateLimitReached" class="example-loading-shade">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
      </div>
    </div>
    <table [dataSource]="dataSource" class="example-table" mat-table matSort matSortActive="created"
           matSortDirection="asc" matSortDisableClear>
      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr *matRowDef="let myRowData; columns: columnsToDisplay" mat-row></tr>
      <ng-container matColumnDef="section">
        <th *matHeaderCellDef mat-header-cell> Секция</th>
        <td *matCellDef="let okrbProduct" mat-cell> {{okrbProduct.section}} </td>
      </ng-container>
      <ng-container matColumnDef="class">
        <th *matHeaderCellDef mat-header-cell> Класс</th>
        <td *matCellDef="let okrbProduct" mat-cell> {{okrbProduct.productClass}} </td>
      </ng-container>
      <ng-container matColumnDef="subCategories">
        <th *matHeaderCellDef mat-header-cell> Подкатегория</th>
        <td *matCellDef="let okrbProduct" mat-cell> {{okrbProduct.subCategories}} </td>
      </ng-container>
      <ng-container matColumnDef="groupings">
        <th *matHeaderCellDef mat-header-cell> Группа</th>
        <td *matCellDef="let okrbProduct" mat-cell> {{okrbProduct.grouping}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Наименование</th>
        <td *matCellDef="let okrbProduct" mat-cell> {{okrbProduct.name}} </td>
      </ng-container>

    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>
